/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	background: url(../img/gray-purple-starlight.png);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper{
	margin: 0 auto;
	text-align: center;
}

h1{
	padding: 25px 0 0 0;
	font-size: 40px;
	letter-spacing: 5px;
	text-transform: uppercase;
	color: #ddffff;
	font-weight: 700;
}
textarea {
	margin: 30px 0;
	width: 400px;
	height: 200px;
	resize: none;
	padding: 5px;
	border: 2px solid #654;
	border-radius: 7px;
	background: lightyellow;
	font-size: 18px;
	transition: all 1s ease-in-out;
}
textarea:hover {
	width: 500px;
	background: lightblue;
}
textarea:focus {
	width: 500px;
	border: 2px solid blue;
	background: lightblue;
}
textarea::placeholder {
	font-style: italic;
	color: darkgreen;
	transition: text-indent 1s ease;
}
textarea:focus::placeholder {
	text-indent: -500px;
/*	transition: text-indent 1s ease;*/
}

select {
	margin: 50px;
	padding: 5px 38px 5px 5px;
	font-size: 16px;
	border: 1px solid #cadcf0;
	height: 34px;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../img/loon-icon.png) 103% / 25% no-repeat #eee;
} 

